@import "../../index.scss";

.contenedorInicio ul {
    height: 100%;
    width: 100%;
    overflow: hidden;
    list-style: none;
    li {
        display: inline-block;
        width: 50%;
        .card {
            width: 95%;
        }
    }
}

.contenedorInicio .paginacionInicio {
    width: 100%;
    height: 10%;
    text-align: center;
    .btnPaginacion {
        margin: 10px 5px 20px;
        border: none;
        padding: 10px;
        background-color: $colorSecondary;
        border-radius: 10px;
    }
    .btnPaginacion:hover {
        background-color: $colorTerciary;
        cursor: pointer;
    }
    .btnPaginacion[disabled]{
        background-color: $colorPrimary;
    }
    .btnPaginacion[disabled]:hover{
        cursor: not-allowed;
    }
}
